<%- include('head', {page: page}) %>

<main>
  <article class="profile">
    <div class="nameAndAvatar">
        <h2><%= user.name %></h2>
        <div>
        <% if (avatar == 'default') { %>
        <img src="images/placeholder.jpg" alt="Profile image">
        <% } else { %>
        <img src="upload/<%= avatar %>" alt="Profile image">
        <% } %>
      </div>
    </div>
    <% if(tagline != 'No tagline set') { %>
    <h3><%= tagline %></h3>
    <% } %>
    <h2>Currently watching:</h2>
    <!-- Used inline css because margin-top didn't work on .updateBtn -->
    <div class="movieGrid" style="margin-bottom: 0.5em">
      <img src="images/<%= series1 %>.jpg" alt="Currently watching image 1">
      <img src="images/<%= series2 %>.jpg" alt="Currently watching image 2">
    </div>
    <a href="settings" class="updateBtn">Update profile</a>
  </article>
</main>

<% include tail %>
